<% form_for [:admin, @company, @driver] do |form| %>
  <%= form.error_messages %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit "Save" %>
  </p>
<% end %>